.restaurantCard {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .35s;
    cursor: pointer;
}

.restaurantCard:hover{
   transform: translateY(-10px);
   box-shadow: 0 20px 40px rgba(0,0,0,.15);
}

.cardImage{
    position: relative;
    height: 220px;
    overflow: hidden;
}

.cardImage img{
    width:100%;
    height:100%;
    object-fit:cover;
     transition: .5s;
}

.favoriteBtn{
    position:absolute;
    top:15px;
    right:15px;
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:white;
    color:#e23744;
    display:grid;
    place-items:center;
    transition:.3s;
}

.ratingBadge{
    position:absolute;
    bottom:15px;
    left:15px;
    background:#1b8f3d;
    color:white;
    padding:6px 12px;
    border-radius:30px;
    display:flex;
    align-items:center;
    gap:6px;
    font-size:.9rem;
}

.favoriteBtn:hover{
    background:#e23744;
    color:white;
    transform:scale(1.15);
}

.cardDetails{
    padding:20px;
}

.cardDetails h3{
    margin-bottom:10px;
    color:#222;
}

.cuisine{
    color:#666;
    margin-bottom:15px;
}

.cardInfo{
    display:flex;
    justify-content:space-between;
    font-size:.9rem;
    color:#444;
}